.nav-link {
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  
  margin: 0 10px;
}

.navbar-brand {
  font-size: 2rem;
  font-family: 'Lobster', cursive;
}

.navbar {
  background-color: rgb(112, 139, 121) !important;
  
}