
body {
  
  /* background-image: url('https://thumbs.gfycat.com/BitesizedTotalCockerspaniel-size_restricted.gif');
  background-size: cover;
  background-repeat: no-repeat; */

  background-image: url('http://www.pptbackgrounds.org/uploads/wedding-couples-border-marry-flowers-backgrounds-wallpapers.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  
}


.carousel {
  max-width: 50%;
  text-align: center;

}
.d-block {
  margin-top: 50px;
  height: 450px;
  width: 100vw;
}





