
body {
  background-image: url('http://www.pptbackgrounds.org/uploads/wedding-couples-border-marry-flowers-backgrounds-wallpapers.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  
}

.carousel {
  max-width: 55%;
  text-align: center;
  margin-right: 10px;

}
.d-block {
  margin-top: 50px;
  height: 450px;
  padding-right: 20px;
}

h2 {
  font-family: 'Lobster', cursive;
  font-weight: bold;
  font-size: 34px;
  margin: 10px 0;
}





